<div class="span12">
  <h2><%= message %></h2>
  <% if @ranked_results.present? %>
  <span>
    <%= check_box_tag 'debug_checkbox', 'checked', true %> Show ranking information
  </span
<% end %>
</div>

<% if @ranked_results.present? %>
  <script type="text/javascript">
    $("#debug_checkbox").click(function() {
        $(".alert").toggle();
    });
  </script>
<% end %>
