<div class="row">
  <%= render :partial => 'search_form', :locals => {:q => @q} %>
</div><!--/row-->

<div class="row" id="search_results_message">
  <%= render :partial => 'search_results_message', :locals => {:message => @message} %>
</div><!--/row-->

<div class="row" id="ranked_results">
  <%= render :partial => 'ranked_results', :locals => {:ranked_results => @ranked_results} if @ranked_results.present? %>
</div><!--/row-->
