// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.alpha {
  span {
    margin-right: 5px;
    margin-left: 5px;
    padding: 1px;
  }
  margin-bottom: 1em;
}
